/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel runtime
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache/
Homestead.json
Homestead.yaml
auth.json

/public/storage
/public/hot
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/database/*.sqlite
/database/*.sqlite-journal

# Build / test artifacts
/build/
/coverage/
coverage.xml
.phpunit.cache

.DS_Store
